body {
  background: whitesmoke; }

p, ul {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

nav {
  background: #feba01; }
  nav .nav_container {
    color: #fff;
    width: 97%;
    margin: auto;
    padding: 8px; }

section.desktop_nav {
  display: none; }

.side_nav {
  color: #000;
  text-transform: capitalize; }
  .side_nav .logo {
    text-align: center;
    padding: 10px 0; }
    .side_nav .logo img {
      width: 88px; }
  .side_nav .breeds {
    margin: 8px 0; }
    .side_nav .breeds li {
      width: 97%;
      margin-top: 5px;
      border-bottom: 2px solid lightgray; }
      .side_nav .breeds li a {
        display: block;
        padding: 12px; }
        .side_nav .breeds li a:hover {
          background: slategray;
          color: #fff; }

.mobile_nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .mobile_nav .menu i {
    font-size: 2.5rem; }
  .mobile_nav .side_nav {
    position: absolute;
    top: 0;
    left: -800px;
    width: 70%;
    height: 100%;
    overflow: auto;
    max-width: 330px;
    padding: 15px 0;
    z-index: 2;
    background: whitesmoke;
    transition: .5s left; }
    .mobile_nav .side_nav .close_btn {
      position: absolute;
      cursor: pointer;
      display: flex;
      top: 10px;
      left: 18px; }
      .mobile_nav .side_nav .close_btn i {
        font-size: 2.4rem; }

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background .5s, opacity .5s; }

.show_menu {
  left: 0 !important; }

.show_overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  z-index: 1; }

.noscroll {
  overflow: hidden;
  height: 100%; }

@media (min-width: 768px) {
  .menu, .mobile_nav.side_nav {
    display: none; }

  section.desktop_nav {
    display: block;
    border-right: 2px solid lightgray;
    overflow: auto;
    height: auto; }
    section.desktop_nav .logo img {
      width: 90px; }
    section.desktop_nav ul {
      padding: 0; } }
section.dog_info {
  margin: 50px auto; }
  section.dog_info .search {
    position: relative; }
    section.dog_info .search .search_icon {
      cursor: pointer;
      color: #df8d51;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      right: 0;
      top: 0;
      padding: 10px; }
    section.dog_info .search input {
      background: whitesmoke;
      border-left: none;
      border-right: none;
      border-top: none;
      border-radius: 0;
      border-bottom: 3px solid #da7d37; }

.box {
  box-shadow: 2px 4px 15px 3px lightgray;
  background: #fff;
  border-radius: 5px;
  margin: 30px 0;
  padding: 10px; }
  .box .dog_img_section {
    text-align: center; }
  .box #dog_name {
    text-transform: capitalize; }
  .box .more {
    text-align: center;
    margin: 20px 0; }
    .box .more a {
      background: none;
      color: #da7d37;
      border: 2px solid #da7d37; }

.search_results {
  text-transform: capitalize; }
  .search_results .options li a {
    padding: 5px;
    display: block; }
    .search_results .options li a:hover {
      background: slategray;
      color: #fff; }

@media (min-width: 1200px) {
  .search, .search_results {
    width: 55%;
    margin: auto; }

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    align-items: center; } }
footer {
  border: 2px solid red; }

html, body {
  height: 100%; }

main {
  height: 100%; }

@media (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 30px; } }

/*# sourceMappingURL=main.css.map */
